{% extends 'layout.html' %}

{% block body %}
    <h1>Articles</h1>
    {% if articles | length > 0 %}
        <ul class="list-group">
            {% for article in articles %}
                <li class="list-group-item">
                    <div>
                        <a href="/article/{{article.id}}">{{ article.title }}</a>
                        <small class="text-muted d-block">by {{ article.author }}</small>
                    </div>
                    <div>
                        {{ article.body[0:50] | safe }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info">No articles yet!</div>
    {% endif %}
{% endblock %}